@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #333333 91.61%
  );
  --orange-gradient: linear-gradient(to right, #ff9966, #ff7733, #ff5500);
}

.navbar {
  z-index: 999; 
  position: relative;
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: var(--orange-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-orange-gradient {
  background: var(--orange-gradient);
}

.bg-black-gradient {
  background: var(--black-gradient);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.orange__gradient {
  background: var(--orange-gradient);
  filter: blur(900px);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary: #ff5500;
  --white: #ffffff;
  --bg: #23282D;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
  touch-action: manipulation;
  overscroll-behavior: none;
  zoom: 1;
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-prev {
  left: 39% !important;
}

@media (max-width: 1000px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
  }
}

@media (max-width: 500px) {
  .slider-controler .swiper-button-prev {
    left: 15% !important;
  }
}

.slider-controler .swiper-button-next {
  left: 61% !important;
}

@media (max-width: 1000px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
  }
}

@media (max-width: 500px) {
  .slider-controler .swiper-button-next {
    left: 84% !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative;
  width: 18rem !important;
  bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 10px; /* Ajusta el espaciado entre filas según tus necesidades */
  padding: 0 1rem;
}

.swiper-pagination-bullet {
  margin: 0; /* Elimina los márgenes predeterminados */
  width: 12px; /* Ajusta el ancho de los puntos según tus necesidades */
  height: 12px; /* Ajusta la altura de los puntos según tus necesidades */
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.swiper-pagination .swiper-pagination-bullet-active:nth-child(-n+8) {
  background: green; /* Color rojo para los primeros 8 puntos */
}

.swiper-pagination .swiper-pagination-bullet-active:nth-child(n+9) {
  background: red; /* Color verde para los últimos 8 puntos */
}

.copa-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .copa-wrapper {
    width: auto;
  }
}